@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
* {
	margin: 0;
}
body {
	font-family: 'Roboto', sans-serif;
}
.top .bg {
	background: url(img/bg.jpg) ;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	height: 100vh;
}
.top .dark-block {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
}
#header {
	padding:30px;
	width: 70vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.logo {
	font-size: 35px;
	color: #ffffff;
} 
#train-me,h1 span {
	color: #e9c24a;
}
.login-holder,.sign-up-holder {
	display: inline-block;
	padding: 10px 20px;
}
.login-holder:hover,.sign-up-holder:hover {
	border: 1px solid #ffffff;
	border-radius: 3px;
	padding: 9px 19px;
	cursor: pointer;
}
#login,#sign-up {
	color: #ffffff;
	text-decoration: none;
}
.top-content {
	margin: 0 auto;
	text-align: center;
}
h1 {
	margin: 100px 0;
	font-size: 86px;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
}
.p-arrow {
	text-align: center;
}
.p-arrow p {
	font-size: 20px;
	color: #ffffff;
}
.arrow-holder {
	width: 80px;
	margin: 0 auto;
	border: 1px solid #ffffff;
	border-radius: 30px;
}
.arrow-holder:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,.2);
}
.fa.fa-angle-double-down {
	font-size: 35px;
	color: #ffffff;
}
.how-it-works,
.our-coaches {
	padding: 70px 0;
}
#how-it-works {
	font-size: 42px;
	line-height: 45px;
	color: rgb(20,150,210);
	text-transform: uppercase;
}
.figure {
	background-image: url(img/sport.jpeg);	
	position: relative;
	width: 100%;
	height: 240px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.figure .dark-block {
	background-color: rgba(0,0,0,.4);
	height: 100%;
}
.figure .black {
	width: 60%;
	padding: 5px;
	background-color: #353331;
	position: absolute;
	bottom: 20px;
	right: 0;
	border-top-left-radius: 15em;
	border-bottom-left-radius: 15em;
}
.figure .black p {
	text-transform: uppercase;
	color: rgb(255,255,255);
	font-family: "Source Sans Pro";
	text-align: center;
	margin-bottom: 0rem;
}
.text span {
	font-size: 30px;
	line-height: 36px;
}
.text p {
	display: inline;
	color: rgb(75,75,75);
}
.text {
	padding: 10px;
	border: 1px solid rgba(53,52,50,0.3);
}
.why-choose-us {
	background-image: url(img/athlete-bike-black.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}
.why-choose-us .dark-block {
	background-color: rgba(55,55,55,0.8);
	height: 100%;
	padding: 100px 20px;
}
.why-choose-us h2 {
	font-size: 42px;
	color: rgb(255,193,0);
	text-transform: uppercase;
}
.why-choose-us h3 {
	font-size: 16px;
	color: rgb(255,193,0,0.8);
}
.why-choose-us p {
	color: rgb(255,255,255,0.8);
}
ul li {
	color: rgb(255,255,255,0.8);
	list-style-type: none;
}
ul li>div {
	display: inline-block;
	margin-right: 14px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,0.5);
}
.our-coaches h2 {
	font-size: 42px;
	color: rgb(20,150,210);
	text-transform: uppercase;
}
.img.img1 {
	background-image: url(img/layer-9.png);
}
.img.img2 {
	background-image: url(img/layer-24.png);
}
.img.img3 {
	background-image: url(img/layer-25.png);
}
.img.img4 {
	background-image: url(img/layer-5.png);
}
.img.img5 {
	background-image: url(img/layer-25.png);
}
.img.img6 {
	background-image: url(img/layer-4.png);
}
.img.img7 {
	background-image: url(img/layer-3.png);
}

.img.img8 {
	background-image: url(img/layer-6.png);
}
.img {
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	width: 100%;
	height: 248px;
}
.view-profile {
	opacity: 0;
	background-color: rgba(0,0,0,.3);
	padding: 7%;
	height: 100%;
}
.square {
	background-color: rgba(0,0,0,.3);
	height: 100%;
	display: table;
}
.square .content {
	display: table-cell;
	vertical-align: middle;
}
.view-profile h3 {
	color: rgb(255,193,0);
	text-align: center;
	text-transform: uppercase;
}
.line {
	width: 20%;
	height: 1px;
	background-color: #ffc100;
	margin: 0 auto;
}
.img:hover .view-profile {
	opacity: 1;
	transition-duration: 0.7s;
	cursor: pointer;
}
button:hover {
	transition-duration: 0.7s;
}
.view-profile button {
	font-size: 14px;
	line-height: 33px;
	font-weight: 300;
	text-align: center;
	width: 70%;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.what-people-say {
	background-color: rgba(19,149,209,0.8);
	padding: 100px 0;
	color: rgb(255,255,255);
}
.what-people-say h2 {
	font-size: 42px;
	color: rgb(255,255,255);
	text-transform: uppercase;
	padding-bottom: 30px;
}
.opinion p {
	display: inline;
}
.opinion h3 {
	font-size: 24px;
	font-weight: 300;
}
.photo.photo1 {
	background-image: url(img/curly-hair-girl.jpg);
}
.photo.photo2 {
	background-image: url(img/man-glasses.jpg)	
}
.photo {
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.circle, .circle2 {
	background-color: rgba(0,0,0,.1);
	height: 100%;
	border-radius: 50%;
}
.circle {
	padding: 10px;
	opacity: 0;
}
.photo:hover .circle {
	opacity: 1;
	transition-duration: 1s;
	cursor: pointer;
}
.fa.fa-quote-left {
	font-size: 30px;
	color: rgba(255,255,255,.4);
}
.gym-imgs {
	padding: 100px 0;
}
.gym-imgs h2 {
	color: #1496d2;
    font-size: 42px;
	text-transform: uppercase;
}
.gym.gym1 {
	background-image: url(img/at-the-gym.jpg);
	height: 425px;
}
.gym2 {
	background-image: url(img/gym_monaghan.jpg);
}
.gym3 {
	background-image: url(img/gym1.jpg);
}
.gym4 {
	background-image: url(img/gym9.jpg);
}
.gym5 {
	background-image: url(img/the-gym-maui.jpg);
}
.gym {	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 200px;
	margin: 25px 0;
	opacity: 0.8;
}
.gym:hover {
	transform: scale(1.1);
	transition-duration: 1.2s;
	opacity: 1;
}
.dark {
	color: #ffffff;
	background-color: #312f27;
	display: flex;
	justify-content: space-evenly;
	border-bottom: 7px solid #ffc155;
}
.numbers {
	background-color: #353331;
	padding: 70px 0;
}
.num {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid #ffffff;
	display: table;
	text-align: center;
}
.num p {
	display: table-cell;
	vertical-align: middle;
	font-size: 25px;
}
.p {
	font-size: 20px;
	text-transform: uppercase;
	padding-top: 30px;
	width: 100px;
}
.footer {
	padding: 70px 20px;
	color: #ffffff;
	background-color: #1a1812;
}
.footer span{
	color: #ffc100;
}
.footer p {
	width: 60%;
	margin: 0 auto;
	font-size: 18px;
	color: rgba(255,255,255,0.5);
}
ul a{
	display: inline;
	color: #ffffff;
}
.links {
	width: 25%;
	margin: 0 auto;
}
.white-line {
	height: 2px;
	width: 20%;
	background-color: rgba(255,255,255,0.3);
	margin: 50px auto 0 auto;
}
@media screen and (max-width: 700px) {
	h1 {
		font-size: 40px;
		margin: 30px 0;
	}
} 