@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-family: 'Roboto', sans-serif;
}
.top .bg {
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}
.top .dark-block {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
}
#header {
	padding:30px;
	width: 70vw;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.logo {
	font-size: 35px;
	color: #ffffff;
} 
#train-me,
h1 span {
	color: #e9c24a;
	font-weight: bold;
}
.login-holder,
.sign-up-holder {
	display: inline-block;
	padding: 10px 20px;
	margin: 0 10px;
}
.login-holder:hover,
.sign-up-holder:hover {
	border: 1px solid #ffffff;
	border-radius: 3px;
	padding: 9px 19px;
	cursor: pointer;
}
#login,
#sign-up {
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
}
.top-content {
	margin: 0 auto;
	text-align: center;
	width: 50vw;
	min-width: 700px;
}
h1 {
	margin: 200px 0;
	font-size: 86px;
	color: #ffffff;
	text-transform: uppercase;
}
.p-arrow {
	margin: 0 auto;
	width: 25vw;
	min-width: 200px;
	text-align: center;
}
.p-arrow p {
	margin: 0 auto;
	font-size: 20px;
	color: #ffffff;
}
.arrow-holder {
	padding: 5px;
	width: 80px;
	margin: 20px auto 100px auto;
	text-align: center;
	border: 1px solid #ffffff;
	border-radius: 30px;
}
.arrow-holder:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,.2);
}
.fa.fa-angle-double-down {
	font-size: 35px;
	color: #ffffff;
}
.how-it-works,
.our-coaches {
	padding: 70px 0;
	width: 70vw;
	margin: 0 auto
}
#how-it-works {
	font-size: 42px;
	line-height: 24px;
	color: rgb(20,150,210);
	font-weight: 300;
	text-align: left;
	text-transform: uppercase;
}
.how-it-works .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.groups {
	width: 256px;
	margin-bottom: 30px;
}
.figure {
	background-image: url(img/sport.jpeg);
	width: 322px;
	height: 240px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.figure .black {
	width: 260px;
	background-color: #353331;
	position: absolute;
	bottom: 20px;
	right: 0;
	text-align: center;
}
.figure .black p {
	font-size: 16px;
	text-transform: uppercase;
	line-height: 27px;
	color: rgb(255,255,255);
	font-family: "Source Sans Pro";
	text-align: center;
}
.text span {
	font-size: 30px;
	line-height: 36px;
	color: rgb(53,52,50);
	font-weight: 300;
}
.text p {
	display: inline;
	color: rgb(75,75,75);
	font-size: 16px;
	line-height: 30px;
}
.text {
	box-sizing: border-box;
	width: 322px;
	height: 265px;
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	border: 1px solid rgba(53,52,50,0.3);
}
.why-choose-us {
	background-image: url(img/athlete-bike-black.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}

.why-choose-us .dark-block {
	background-color: rgba(55,55,55,0.8);
	height: 100%;
}
.why-choose-us .container {
	width: 70vw;
	margin: 0 auto;
	padding: 70px 0;
}
.why-choose-us h2 {
	font-size: 42px;
	line-height: 24px;
	color: rgb(255,193,0);
	font-weight: 300;
	text-transform: uppercase;
}
.why-choose-us h3 {
	font-size: 16px;
	line-height: 24px;
	color: rgb(255,193,0,0.8);
	font-weight: 300;
}
.why-choose-us p {
	width: 70%;
	min-width: 500px;
	font-size: 16px;
	line-height: 24px;
	color: rgb(255,255,255,0.8);
	font-family: "Roboto";
	font-weight: 300;
}
ul {
	list-style-type: none;
}
ul li {
	font-size: 16px;
	line-height: 24px;
	color: rgb(255,255,255,0.8);
	font-weight: 300;
}
ul li>div {
	display: inline-block;
	margin-right: 14px;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background-color: rgba(53,52,50,0);
	border: 1px solid rgba(255,255,255,0.5);
}
.our-coaches h2 {
	font-size: 42px;
	line-height: 24px;
	color: rgb(20,150,210);
	font-weight: 300;
	text-transform: uppercase;
}
.our-coaches .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
img {
	width: 350px;
	height: 550px;
}