* {
	margin: 0;
	outline: none;
	box-sizing: border-box;
}
html {
	/*width: 100vw;*/
}
body {
	font-family: 'Verdana';
	width: 100vw;
}
.content-1 {
	/*height: 100vh;*/
	padding-bottom: 65px;
}
.top {
	background-color: #302E2D;
}
.content-1 .container {
	width: 95vw;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #acacac;
	font-weight: 600;
	font-size: 14px;
}
.top .left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.city p, .phone-number p, .mail p {
	display: inline-block;
}
.city, .phone-number, .mail {
	padding: 10px;
}
.top .right {
	/*display: flex;*/
}
.fa.fa-map-marker, .fa.fa-phone, .fa.fa-envelope {
	padding-right: 10px;
	font-size: 18px;
}
.fa.fa-facebook-square, .fa.fa-twitter-square, .fa.fa-instagram, .fa.fa-google-plus-square {
	font-size: 25px;
	padding: 10px;
	color: #ffffff;
}
.fa.fa-facebook-square:hover, .fa.fa-twitter-square:hover, .fa.fa-instagram:hover, .fa.fa-google-plus-square:hover, .city:hover, .phone-number:hover, .mail:hover {
	cursor: pointer;
	background-color: #7E3684;
}
.school-img {
	background-image: url(img/school.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 600px;
	/*height: 60%;*/
	color: #ffffff;
}
.white-block {
	background-color: rgba(145, 34, 154,.5);
	height: 100%;
	display: flex;
	justify-content: center;
 	align-items: center;
}
#main-headline {
	text-align: center;
}
h1 {
	line-height: 2em;	
	text-transform: capitalize;
}
#main-headline h2 {
	font-size: 20px;
}
.circles {
	display: flex;
 	justify-content: space-evenly;
 	position: relative;
 	height: 150px;
 	color: #ffffff;
}
.circle{
	background-color: #7E3684;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	text-align: center;
	display: flex;
 	align-items: center;
 	justify-content: center;
 	box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.3);
 	position: absolute;
 	top: -50%;
}
.fa.fa-clone, .fa.fa-magic, .fa.fa-cogs {
	font-size: 50px;
}
#cogs {
	right: 15%;
}
#copy {
	left: 15%;
}
.content-1 .text-block {
	display: flex;
	justify-content: space-evenly;
	/*height: calc(40% - 150px);*/
}
.content-1 .text {
	width: 20%;
	text-align: center;
}
.text p {
	font-size: 16px;
	color: #566573;
}
.content-2 .first-part {
	/*height: 40vh;*/
	padding: 50px 50px;
	background-color: #E8DAEF;
	display: flex;
	justify-content: space-between;
}
.first-part .text-block {
	width: 55%;
}
.first-part .text-block h4 {
	padding-bottom: 10px;
	font-size: 18px;
}
.first-part p {
	font-size: 18px;
	color: #566573;
}
.first-part .imgs {
	width: 35%;
}
#children {	
	background-image: url(img/children.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: -50px;
	left: -40px;
	width: 450px;
	height: 250px;
	box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.3);
}
#group {
	background-image: url(img/group.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 14%;
	right: 18px;
	width: 400px;
	height: 250px;
	box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.3);
}
.imgs {
	/*width: 50%;*/
	padding-left: 40px;
	position: relative;
}
.content-2 .second-part {
	/*height: 60vh;*/
	/*width: 100vw;*/
	text-align: center;
	padding: 50px 100px;
}
.second-part h2 {
	font-size: 35px;
	text-transform: uppercase;
	padding-bottom: 20px;
}
.second-part .headline {
	/*width: 65%;*/
	margin: 0 auto;
}
.blocks {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.block {
	width: 40%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border: 1px solid #ccc;
	margin: 20px;
	padding: 20px;
}
.pic {
	border: 2px solid #ff944d;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.fa.fa-connectdevelop, .fa.fa-codepen, .fa.fa-cube, .fa.fa-database {
	font-size: 50px;
	color: #ff944d;
}
.content-2 h4 {
	font-size: 20px;
	line-height: 3em;
	color: #302E2D;
}
.content-2 .text p {
	font-size: 18px;
 	color: #7B797B;
 	text-align: left;
 	padding-top: 10px;
}
.content-2 .headline h2,{
	color: #302E2D;
	font-size: 35px;
	line-height: 2em;
	text-transform: uppercase;
}
.content-2 .headline p,
.content-3 .first-row p {
	color: #7e7f7f;
	font-size: 18px;
	text-align: center;
	line-height: 1.2em;
	width: 750px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.text {
	text-align: left;
	width: 80%;
}

.content-3 .first-row {
	width: 45%;
	margin:  80px auto 20px auto;
	text-align: center;
}
.content-3 .first-row h2 {
	padding-bottom: 20px;
	text-transform: uppercase;
	font-size: 35px;
}
.second-row {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.comment {
	width: 25%;	
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 30px;
	text-align: center;
}
.quotes {
	text-align: center;
	padding: 20px;
}
.fa.fa-quote-right, .fa.fa-quote-right, .fa.fa-quote-right {
	color: #660066;
	font-size: 35px;
}
.comment p {
	width: 70%;
	margin: 15px auto;
	color: #7a7a7a;
}
.comment .photo {
	background-image: url(img/man.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 150px;
	width: 150px;
	margin: 20px auto;
	border-radius: 50%;
}
em {
	font-size: 14px;
	line-height: 3em;
	color: #7a7a7a;
}
.content-4 {
	/*height: calc(100vh - 70px);*/
	background-image: url(img/table.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.dark-block {
	background-color: rgba(224, 224, 235,.3);
	height: 100%;
	padding-bottom: 50px;
}
.content-4 .headline h2 {
	line-height: 2.5em;
	text-transform: uppercase;
	font-size: 35px;
}
.content-4 .headline {
	padding: 40px 0;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	width: 50%;
	margin: 0 auto;
}
.form-holder {
	background-color: #ffffff;
	width: 60%;
	margin: 0 auto;
	padding: 30px;
}
.form-holder p {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 600;
	line-height: 2em;
}
.name-email {
	display: flex;
	justify-content: space-between;
}
.name, .email {
	width: 45%;
}
.name-email input {
	width: 100%;
}
.form-holder input {
	height: 35px;
	font-size: 20px;
}
.form-holder .items {
	margin-bottom: 30px;
}
.subject input, textarea {
	width: 100%;
}
textarea {
	height: 100px;
	margin-bottom: 50px;
}
.button-holder {
	text-align: right;
}
.form-holder button {
	width: 120px;
	height: 40px;
	color: #ffffff;
	background-color: #660066;
	right: 0;
}
.footer p {
	color: #ffffff;
	font-size: 18px;
}
.footer {
	width: 100vw;
	padding: 20px 0;
	text-align: center;
	background-color: #000000;
}
@media screen and (max-width: 1024px) and (min-width: 501px){
	.school-img {
		height: 55%;
	}
	/*#main-headline {
		width: 90%;
		text-align: center;
	}
	h1 {
		font-size: 35px;
	}
	.circles {
		height: 100px;
	}
	.circle {
		height: 100px;
		width: 100px;
	}
	#children, #group, .imgs {
		display: none;
	}
	.first-part .text-block {
		width: 100%;
	}
	.content-2 .first-part {
		display: block;
		height: 25vh;
		padding: 20px 30px;
	}
	.content-2 .second-part {
		padding: 25px;
	}
	.second-part .headline {
		width: 80%;
	}
	.second-part h2,
	.content-3 .first-row h2 {
		font-size: 25px;
	}
	.blocks {
		justify-content: space-around;
	}
	.pic {
		width: 50px;
		height: 50px;
	}
	.fa.fa-connectdevelop,
	.fa.fa-codepen,
	.fa.fa-cube,
	.fa.fa-database {
		font-size: 30px;
	}
	.content-3 .first-row {
		margin: 55px auto 20px auto;
		width: 70%;
	}
	.comment {
		width: 80%;
		padding: 0;
		margin-bottom: 30px;
	}
	.quotes {
		padding: 15px 0 0 0;
	}
	.comment p {
		width: 90%;
		margin: 5px auto;
	}
	.comment .photo {
		width: 100px;
		height: 100px;
		margin: 10px auto;
	}
	.comment.hidden {
		visibility: hidden;
	}
	.content-4 .headline {
		padding: 20px 0;
	}
}*/
@media screen and (max-width: 500px) {
	#children, #group, .imgs {
		display: none;
	}
	
}